/* #region start */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
    position: relative;
    overflow-x: hidden;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    background-size: 86%;
    background-color: #0a1032;
    color: #fff;
    background: linear-gradient(180deg, rgba(99,190,245,1) 0%, rgba(73,71,199,1) 100%);
}
img {
    vertical-align: bottom;
}
main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
}
section {
    flex-basis: 100%;
    background-color: #151926;
    text-align: center;
    min-height: 600px;
    position: relative;
}
/* #endregion */

/* #region header */
header {
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    margin-top: 24px;
    display: flex;
    align-items: center;
    background-color: #7750f8;
    padding: 0 20px;
    box-sizing: border-box;
    justify-content: space-between;
}
.nav {
    width: 100%;
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center; 
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    position: relative;
}
.nav a {
    color: #fff;
    text-decoration: none;
}
.nav_mobile {
    display: none;
    gap: 30px;
}

/* #endregion */

/* #region params */
.section__params {
    width: 96%;
    height: 150px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #1d2333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 14px;
    margin-bottom: 16px;
    gap: 10px;
}
.section__params form {
    display: flex;
    gap: 10px;
    align-items: center;
}
input[type='text'] {
    width: 60px;
    background-color: #fff;
    border-radius: 5px;
    height: 30px;
    border: none;
    padding: 6px;
    color: #000;
    box-sizing: border-box;
    font-size: 13px;
    position: relative;
    resize: none;    
}
input[type='submit'] {
    margin-left: 10px;    
}
.list {
    width: 160px; 
    height: 100px; 
    overflow: auto; 
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: start;
    align-items: start;
    background-color: #fff;
    padding: 8px;
    gap: 5px;
    color: #000;
    margin-left: 10px;
}
/* #endregion */

/* #region links */
.links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
}
ul.pagination {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
    font-size: 18px;
    background-color: #666;
    padding: 20px;
    border-radius: 10px;
}
ul.pagination a {
    color: #000;
    font-weight: bold;
}
ul.pagination span {
    color: #fff;
    font-weight: bold;
}

/* #endregion */

/* #region social */
.section__info_social {
    height: 60px;
    width: auto;
    display: flex;
    justify-content: start;
}
.social {
    list-style: none;
    display: flex;
    gap: 22px;
    align-items: center;
}
.social h1 {
    margin: 0px;
}
.social img {
    width: 36px;
}
/* #endregion */

/* #region goods */
.items {
    margin: 0 auto;
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 30px;
}
.item {
    width: 300px;
    height: 220px;
    border-radius: 20px;
    background-color: #000;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.item a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.item a:hover {
    text-decoration: underline;
}
/* #endregion */

/* #region item */
.itemShow {
    width: 95%;
    margin: 0 auto;
    height: auto;
    border-radius: 20px;
    background-color: #000;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}
/* #endregion */

/* #region buttons */
.btn {
    height: 34px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #afb5ff;
    color: #f8f9fb;
    font-size: 15px;
    width: 140px;
    font-weight: bold;
    font-family: Roboto;
    background-color: #7750f8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn:active {
    transform: translateY(2px);
}

.btnGreen {
    background-color: #40d04f;
}
.btnRed {
    background-color: #fd434f;
}
.btnOrange {
    background-color: #ff7a51;
}
.btnBlack {
    background-color: #000;
    width: 170px;
    border: 1px solid #ccc;
}
.btnWithoutBg {
    background-color: transparent;
    border: none;
    width: auto;
}

/* #endregion */

/* #region aside */
aside {
    flex-basis: 24%;
    background-color: #151926;
    padding: 30px 20px 30px 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
textarea {
    width: 98%;
    background-color: #000;
    border-radius: 20px;
    height: 130px;
    border: none;
    resize: none;
    padding: 16px;
    color: #ccc;
    box-sizing: border-box;
    font-size: 13px;
    position: relative;
    resize: none;
}
textarea:focus {
    border: none;
    outline: none;
}
.comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    border-top: 1px solid #000;
    overflow: hidden;
}
.comment {
    width: 100%;
    background-color: #1d2333;
    border-radius: 20px;
    height: auto;
    padding: 16px;
    color: #999;
    box-sizing: border-box;
    font-size: 13px;
    position: relative;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2), 0px 0px 1px inset rgba(255, 255, 255, 0.07);
    margin-bottom: 10px;    
}
.comment h4 {
    color: #fff;
    font-weight: bold;
    margin: 0px 0px 4px 0px;
}
.comment_text {
    position: relative;
}
.sendComment {
    width: 40px;
    height: 40px;
    background-image: url(../images/send.png);
    background-size: cover;
    position: absolute;
    bottom: 10px;
    right: 20px;
}
/* #endregion */

/* #region footer */
footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #000;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
}
.footer__list {
    width: 82%;
    height: 100px;
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center; 
    justify-content: space-between;
}
.footer__list img {
    margin-left: -15px;
}
.footer__bottom {
    width: 82%;
    height: 100px;
    display: flex;
    gap: 30px;
    padding-top: 20px;
    box-sizing: border-box;
    justify-content: end;
    font-size: 14px;
    border-top: 1px solid #ccc;
}
/* #endregion */

/* ----------------------------------------------------------*/

/* #region burger */
.burger {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 4;
    cursor: pointer;
}

.burger span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #fff;
    left: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}

.burger span:nth-child(1) {
    transform: translateY(-10px);
}

.burger span:nth-child(3) {
    transform: translateY(10px);
}

.nav_mobile.open .burger span:nth-child(2) {
    opacity: 0;
}

.nav_mobile.open .burger span:nth-child(1) {
    transform: translateY(0) rotate(-45deg);
}

.nav_mobile.open .burger span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

.nav_mobile.open .menu {
    transform: translateX(-100%);
}
/* #endregion */

/* #region menu */
.menu {
    position: absolute;
    top: 0;
    background-color: #fff;
    width: 350px;
    min-height: 100vh;
    height: auto;
    right: 0px;
    right: -350px;
    transition: transform .5s;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 0px;
    color: #000;
}
.menu__head {
    width: 100%;
    height: 60px;
    background-color: #1d2333;
    margin-bottom: 30px;
}
.menu ul {
    width: 75%;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.menu li {
    padding: 18px;
    font-size: 18px;
    line-height: 32px;
}
.menu li img {
    margin-right: 20px;
}
.menu hr {
    color: #ccc;
}

.menu a {
    color: #000;
    text-decoration: none;
}

.menu a.btn {
    width: 160px;
    height: 30px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* #endregion */

/* ----------------------------------------------------------*/

/* #region медиа (max-width: 650px) */
@media (max-width: 650px) {
    header { 
        margin-top: 0px;
    }
    .nav {
        display: none;
    }
    .nav_mobile {
        display: flex;
    }
    main {
        flex-direction: column;
        max-width: 100%;
    }

    section {
        width: auto;
        padding: 10px 30px 20px 30px;
        
    }
    .section__actions {
        width: 100%;
    }
    .slick_action {
        width: 100%;
    }
    body .slick__element {
        width: 100%;
        background-size: cover;
    }

    .section__info {
        flex-direction: column;
        height: 150px;
        margin: 0px;
        width: 100%;
        margin-bottom: 16px;
    }

    .total {
        gap: 15px;
        padding: 0px;
    }
    .btnBlack {
        display: none;
    }
    .section__bestgames .game {
        width: 110px;
        height: 90px;      
    }
    .section__bestgames {
        margin: 0px;
        margin-top: 20px;
        width: 100%;
        height: auto;
        padding: 20px;
        flex-wrap: wrap;
        box-sizing: border-box;
        flex-direction: row;
        margin-bottom: 16px;
    }
    .section__games {
        margin: 0px;
        margin-top: 20px;
        width: 100%;
        height: auto;
        padding: 20px 0;        
    }
    .section__games .game {
        width: 110px;
        height: 90px;
    }
    aside {
        margin: 0px;
        width: 100%;
        flex-direction: column;
        height: auto;
        padding: 10px 30px 20px 30px;        
    }
    .footer__list {
        flex-direction: column;
        padding: 0px;
        height: auto;
    }
    .social {
        padding: 0px;
    }
    .footer__logo {
        margin: 0px;
    }
}
/* #endregion */

/* #region медиа (min-width: 650px) and (max-width: 992px) */
@media (min-width: 650px) and (max-width: 992px) {
    header { 
        margin-top: 0px;
    }
    .nav {
        display: none;
    }
    .nav_mobile {
        display: flex;
    }
    main {
        flex-direction: column;
        max-width: 100%;
    }

    section {
        width: auto;
        padding: 10px 30px 20px 30px;
    }
    .section__actions {
        width: 100%;
    }
    .slick_action {
        width: 100%;
    }
    body .slick__element {
        width: 100%;
        background-size: cover;
    }

    .section__info {
        flex-direction: row;
        height: 100px;
        margin: 0px;
        width: 100%;
        margin-bottom: 16px;
    }
    .total {
        gap: 15px;
        padding: 0px;
    }

    .section__bestgames {
        margin: 0px;
        margin-top: 20px;
        width: 100%;
        height: auto;
        padding: 20px 0;
        margin-bottom: 16px;
    }
    .section__bestgames .game {
        width: 120px;
        height: 100px;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: end;
        justify-content: center;
        position: relative;
        border-radius: 10px;
        gap: 3px;
    }
    .section__games {
        margin: 0px;
        margin-top: 20px;
        width: 100%;
        height: auto;
        padding: 20px 0;        
    }
    aside {
        margin: 0px;
        width: 100%;
        flex-direction: column;
        height: auto;
        padding: 10px 30px 20px 30px;        
    }
    .footer__list {
        flex-direction: column;
        padding: 0px;
        height: auto;
    }
    .social {
        padding: 0px;
    }
    .footer__logo {
        margin: 0px;
    }    
}
/* #endregion */

/* #region медиа (min-width: 992px) and (max-width: 1030px) */
@media (min-width: 992px) and (max-width: 1030px) {
    header { 
        margin-top: 0px;
    }
    .nav {
        display: none;
    }
    .nav_mobile {
        display: flex;
    }
    section {
        flex-basis: 70%;
        padding-left: 20px;
        box-sizing: content-box;
    }
    body aside {
        flex-basis: 30%;
        padding: 40px 20px 20px 20px;
    }
    .section__actions {
        width: 100%;
    }
    .slick_action {
        width: 100%;
    }
    body .slick__element {
        width: 100%;
        background-size: cover;
    }

    .section__info {
        height: 100px;
        margin: 0px;
        width: 100%;
        margin-bottom: 16px;
    }
    .total {
        gap: 15px;
        padding: 0px;
    }
    .section__bestgames {
        margin: 0px;
        margin-top: 20px;
        width: 100%;
        height: auto;
        padding: 20px 0;
        margin-bottom: 16px;
    }
    .section__bestgames .game {
        width: 120px;
        height: 100px;
    }
    .section__games {
        margin: 0px;
        margin-top: 20px;
        width: 100%;
        height: auto;
        padding: 20px 0;        
    }
    aside {
        margin: 0px;
        width: 100%;
        flex-direction: column;
        height: auto;
        padding: 10px 30px 20px 30px;        
    }
    .footer__list {
        flex-direction: column;
        padding: 0px;
        height: auto;
    }
    .social {
        padding: 0px;
    }
    .footer__logo {
        margin: 0px;
    }   
}
/* #endregion */

/* ----------------------------------------------------------*/